*
*/

!README.org
!.gitignore
!.gitmodules
!LICENSE
!flake.nix
!flake.lock
!package.nix

!cabal/
!cabal/**/
!cabal/**/*.hs
!cabal/*.cabal
!cabal/**/*.cabal
!cabal/cabal.project
!cabal/resources/**/*.txt
!cabal/share/**/*.md

!tests/
!tests/**/
!tests/**/*.nix
!tests/**/*.md
!tests/oracle/v0.4.0.tar.gz

!.github/
!.github/**/
!.github/**/*.yaml

*~
*#
**/tmp/
