*
*/

!README.org
!.gitignore
!.gitmodules
!LICENSE
!flake.nix
!flake.lock

!*.asd
!*.lisp

!src/
!src/**/
!src/**/*.lisp

!pkgs/
!pkgs/**/
!pkgs/**/*.lisp
!pkgs/**/*.nix
!pkgs/**/*.sh

!tests/
!tests/**/
!tests/**/*.lisp
!tests/**/*.nix

!.github/
!.github/**/
!.github/**/*.yaml

*~
*#
**/tmp/