*
*/

!README.org
!.gitignore
!.gitmodules
!LICENSE
!flake.nix
!flake.lock

!asdf/
!asdf/**/
!asdf/*.asd
!asdf/VERSION
!asdf/share/**/*.md
!asdf/src/**/*.lisp
!asdf/src/**/text/*.txt
!asdf/tests/**/*.lisp

!lib/
!lib/**/
!lib/**/*.lisp
!lib/**/*.nix

!.github/
!.github/**/
!.github/**/*.yaml

*~
*#
**/tmp/
